.petals{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 0 100%;
    position: relative;
    top: 100px;
    left: 100px;
    transform-origin: right bottom;
}

#primer{ 
   top: 100;
   left: 100;
}

#segon{
    top: 0px;
    transform: rotate(60deg);
}

#tercer{
    top: -100px;
    transform: rotate(120deg);
}

#quart{
    top: -200px;
    transform: rotate(180deg);
}

#cinque{
    top: -300px;
    transform: rotate(240deg);
}

#sise{
    top: -400px;
    transform: rotate(300deg);
}

.cor{
    height: 50px;
    width: 50px;
    background-color: orange;
    border-radius: 50px;
    position: relative;
    top: -425px;
    left: 175px;
}

.flor{
    float: left;
    width: 400px;
    height: 400px;   
}

.flor:first-child{
    animation-name: rotacio;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

.flor:hover{
    animation-name: rotacio;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

@keyframes rotacio{
    0%{
        transform: roatate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
